<h1 id="title" class="title">{{'forgetPassword.Header' | translate }}</h1>
<p class="sub-title">{{'forgetPassword.subtitle' | translate }}</p>

<form id="form" #form="ngForm" (submit)="form.valid && requestPassword()"  aria-labelledby="title">

  <div class="form-control-group">
    <label class="label" for="email">{{'Auth.email' | translate }}</label>
    <input nbInput fullWidth required #email="ngModel" name="email" type="email"
           id="email" pattern=".+@.+\..+"  minlength="6" placeholder="{{'Auth.emailPlaceholder' | translate }}"
           autofocus [(ngModel)]="user.email">

    <ng-container *ngIf="email.invalid && (email.dirty || email.touched)">
      <p class="error-message" *ngIf="email.errors?.required">
        {{'validation.requiredMsgEmail' | translate }}
      </p>
      <p class="error-message" *ngIf="email.errors?.pattern">
        {{'validation.patternMsgEmail' | translate }}
      </p>
      <p class="error-message" *ngIf="email.errors?.minlength">
        {{'validation.minlengthMsgEmail' | translate }}
      </p>
    </ng-container>
  </div>

  <button nbButton fullWidth status="success" [disabled]="form.pristine || form.invalid" [class.btn-pulse]="submitted">
    {{'forgetPassword.Requestpassword' | translate }}
  </button>
</form>

<!--
<section class="sign-in-or-up" aria-label="Sign in or sign up">
  <a class="text-link" routerLink="/auth/login">Back to Log In</a>
  <a class="text-link" routerLink="/auth/register">Register</a>
</section>
-->
