<div class="container">
  <div class="row">
     <div class="col-md-12">
       <nb-card>
         <nb-card-header>Profile Image</nb-card-header>
         <nb-card-body>
           <div class="profile-picture">
             <!--<label *ngIf="editmode" for="uploader-input" ng2FileDrop [ngClass]="{'drag-over': hasDragOver}" >   </label>-->
               <span style="color:red;" *ngIf="message">{{message}}</span>
               <input  #file type="file" accept='image/*' (change)="preview(file.files)" />
               <img  width=300 height=300  [src]="userImage" *ngIf="userImage"/>

               <!--<div class="infotext"><span >Drop your picture<br>or click to upload</span></div>-->
             <!--<input *ngIf="editmode" type="file" accept='image/*'  (change)="preview(file.files)" ng2FileSelect  id="uploader-input" style="display:none" />-->
           </div>
         </nb-card-body>
       </nb-card>
       <nb-card>
         <nb-card-header>
           <div class="row">
             <div class="col-md-10">
               {{'Profile.Header' | translate}}
             </div>
             <div class="col-md-2">
               <button class="btn btn-success" (click)="editClick()">{{'Profile.Button' | translate}}</button>
             </div>
             </div>
         </nb-card-header>
         <nb-card-body>
           <form id="form" #form="ngForm" (submit)="form.valid && saveEditProfile()">
             <div class="row ">
               <div class="col-md-6 form-group">
                 <label for="name_EN">{{'editUsers.NameEN' | translate}}</label>
                 <input type="text" class="form-control" name="name_EN" [(ngModel)]="userDetails.name_EN" [readonly]="editable"
                       #nameEN="ngModel" required pattern="[a-z A-Z0-9\\_\\]+$">
                 <ng-container *ngIf="nameEN.invalid && (nameEN.dirty || nameEN.touched)">
                   <p class="text-danger" *ngIf="nameEN.errors?.required">
                     {{'validation.requiredMsgEnName' | translate }}
                   </p>
                   <p class="text-danger" *ngIf="nameEN.errors?.pattern">
                     {{'validation.patternMsgEnName' | translate }}
                   </p>
                 </ng-container>
             </div>

          <div class="col-md-6 form-group">
          <label for="name_AR">{{'editUsers.NameAR' | translate}}</label>
            <input type="text" class="form-control" name="name_AR" [(ngModel)]="userDetails.name_AR" [readonly]="editable"
                   #nameAR="ngModel" required pattern="^[\u0621-\u064A\u0660-\u0669\\_\\ ]+$">
            <ng-container *ngIf="nameAR.invalid && (nameAR.dirty || nameAR.touched)">
              <p class="text-danger" *ngIf="nameAR.errors?.required">
                {{'validation.requiredMsgArName' | translate }}
              </p>
              <p class="text-danger" *ngIf="nameAR.errors?.pattern">
                {{'validation.patternMsgArName' | translate }}
              </p>
            </ng-container>
        </div>
        </div>
        <div class="row">
          <div class="col-md-6 form-group">
          <label for="email">{{'editUsers.Email' | translate}}</label>
            <input type="text" class="form-control" name="email" [(ngModel)]="userDetails.email"  readonly
                   #email="ngModel" >
            <ng-container >
              <p class="text-danger" *ngIf="email.touched">
                You can not edit your email
              </p>
            </ng-container>
        </div>
          <div class="col-md-3 form-group" *ngIf="editMode">
            <label for="image">{{'Profile.UploadImage' | translate}}</label>
            <input class="form-control" type="file" accept='image/*' name="image" (change)="onFileSelected($event)" />
          </div>
          <div class='col-sm-3' *ngIf="editMode">
            <button style="margin:25px;" class="btn btn-success" (click)="onUpload()"> {{'Profile.Upload' | translate}} </button>
          </div>
        </div>
           <div class="form-group row" *ngIf="editMode">
             <div class='col-sm-4'>
               <button style="margin:5px;" class="btn btn-success" type="submit" [disabled]="form.invalid">
                 {{'editUsers.Submit' | translate }}
               </button>
               <button style="margin:5px;" class="btn btn-success" (click)="clickCancel()">{{'editUsers.Cancel' | translate}}</button>
             </div>
           </div>
           </form>
         </nb-card-body>
       </nb-card>
    </div>
  </div>
</div>



