<div class="container">
  <div class="row">
     <div class="col-md-12">
       <nb-card>
         <nb-card-header>Your profil</nb-card-header>
         <nb-card-body>
           <div class="row">
              <div class="col-md-6 form-group">
                 <label >Full name in English</label>
                 <input type="text" class="form-control" name="name_EN" [(ngModel)]="userDetails.name_EN"
                       #nameEN="ngModel" required pattern="[a-z A-Z0-9\\_\\]+$">
        </div>
           </div>
        <div class="row">
          <div class="col-md-6 form-group">
          <label>Full name in Arabic</label>
            <p>{{user.name_AR}}</p>
            <input type="text" class="form-control" name="name_EN" [(ngModel)]="userDetails.name_AR"
                   #nameEN="ngModel" required pattern="[a-z A-Z0-9\\_\\]+$">
        </div>
        </div>
        <div class="row">
          <div class="col-md-6 form-group">
          <label>Email</label>
            <input type="text" class="form-control" name="name_EN" [(ngModel)]="userDetails.email"  readonly
                   #nameEN="ngModel" required pattern="[a-z A-Z0-9\\_\\]+$">
        </div>
      </div>
         </nb-card-body>
       </nb-card>
    </div>
  </div>
</div>
